{% extends 'user/home_layout.html' %}
{% block partner %}

  



<!--The home page can populate this for other contents like partner hotel-->
<div class="layout" id="partner">
  
<div class="container px-4" id="custom-cards">
<!-- Start Search input-->
 
<div class="row py-3 justify-content-center" id="searchrow" style="background-color: white;">
    <div class="col-11 row justify-content-between input-group">

        <div class="col-md-5">
     <select name="bookcat" id="bookcat" class="form-control">
    <option  value="">Book Category</option> 
     </select>
        </div>
        <div class="col-md-5">
            <input type="text" name="searchkeyword" id="searchkeyword" class="form-control" placeholder="Type A Keyword"
            value="">
        </div>

        <div class="col-md-2">
            <p class="text-center search-btn">
                <button type="button" class="btn btn-danger noround" id="searchbtn">
                    SEARCH 
                    <span class="fas fa-search ml-2"></span>
                </button>
            </p>
        </div>

    </div>
</div>
<!-- End search -->
   
    <div class="row">
        <div class="col-md-2 px-2 mt-3 bg-light">
        
            <div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Title
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Category
                    </label>
                  </div>
            </div>
        </div>
        <div class="col-md-10">
          
            <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5" id="displayall">
   
                
                <div class="col">
                 
        {% for book in books %} 
        <img src="/static/uploads/{{ book.book_cover}}" class="img-fluid bk" alt="">   
        
               <div class="deets">
                <h6><a href="">{{book.book_title}}</a></h6>
                <p><i>{{book.catdeets.cat_name}}</i></p>
                <p><button class="btn btn-sm btn-warning"></button>{{book.bookreviews|count }} Reviews</p>          
                
               </div>  
               </div>
        {% endfor %}  
                
               
              
        
             
               
                  
            </div>
        </div>
    </div>
  
  </div> 
 </div>

<!-- end more content-->




{% endblock partner %}